#map{
  height: 50%;
  width: 100%;
}
#top-panel{
	border:3px solid #999;
	text-align:center;
	line-height: 30px;
}
::placeholder {
  font-family:Consolas;
}
select{font-family:Consolas;}
body{
	background-color: #f9f9f9;
	height: 100%;
	margin: 10;
	padding: 10;
	font-family:Consolas;
	
}
table{
	border-collapse: collapse;
	text-align:center;
	vertical-align: middle;
	table-layout: auto;
    border: 3px solid #999;
}

tr{text-align:center;
	vertical-align: middle;
	border: 3px solid #999;}
	
thead {
  background-color: #333;
  color: white;
}
a{text-decoration:none;}

button {
    font-family: inherit;
}
